body > * {
    border: 4px solid black;
}

body{
    display: flex;
    flex-direction: column;
    padding:0;
    margin:0;
    height: 100vh;
}

p{
    color: white;
}

h3{
    color:white;
    padding:0;
    margin:0;
}

h4{
    color:white;
    padding:0;
    margin:0;
}

.main--header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    min-height: 50px;
    background-color: #2e2d4f; 

}

#content{
    flex:10;
}

.home{
    background-image: url("./images/starrynight.jpg");
    width:100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}


.info{
    flex:1;
    background-color: #1a1f3d;
    margin:20px;
    border-radius: 30px;
    border: 15px solid black;
    padding:20px;
}

.contact--info{
    flex:1;
    background-color: #1a1f3d;
    margin:20px;
    border-radius: 30px;
    border: 15px solid black;
    padding:20px;
    width: 70%;

}

.card--container{
    display:grid;

    grid-template-columns: 1fr 1fr 1fr;
    
}

.food--card{

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    width: 200px;
    height: 200px;
    background-color: #1a1f3d;
    margin:20px;
    border-radius: 30px;
    border: 15px solid black;
    padding:20px;

}

.food--image{
    width: 100px;
    height: 100px;
    margin:10px;
}

.hours{

    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    flex:1;
    background-color: #1a1f3d;
    margin: 20px;
    border-radius: 30px;
    border: 15px solid black;
    padding:20px;
}

.main{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-radius: 20px;
    height: 80%;
    max-width: 40%;
    padding:20px;

    background-color: #2e2d4f;
}

.contact--main{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    border-radius: 20px;
    height: 80%;
    width: 30%;

    padding:20px;

    background-color: #2e2d4f;
}

.main--menu{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-radius: 20px;

    padding:20px;
    margin-top: 50px;
    margin-bottom: 50px;

    background-color: #2e2d4f;

}

.art--credit{
    align-self: center;
}



.header{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color:white;
}

.nav--button{
    border: 1px solid black;
    background-color: #2e2d4f;
    color: white;
    padding:10px;
    margin-left:10px;
    margin-right:10px;

}

.nav--button.active{
    background-color: #0b0f2a;
}
