body > * {
    border: 4px solid black;
}

body{
    display: flex;
    flex-direction: column;
    padding:0;
    margin:0;
    height: 100vh;
}

header{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex:0.7;
    background-color: #2e2d4f; 

}

#content{
    flex:10;
}

.home{
    background-image: url("./images/starrynight.jpg");
    width:100%;
    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.main{
    
    height: 80%;
    width: 40%;
    border-radius: 20px;
    padding:20px;

    background-color: #2e2d4f;
}



.header{
    display: flex;
    justify-content: center;
    font-size: 2rem;
    color:white;
}

.nav--button{
    border: 1px solid black;
    background-color: #2e2d4f;
    color: white;
    padding:10px;
    margin-left:10px;
    margin-right:10px;

}

.nav--button.active{
    background-color: #0b0f2a;
}
